*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./anh/img.png);
    background-size: auto;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff ;
}
.main{
    width: 100%;
    
}
.main_header
{
    width: 1450px;
    text-transform: uppercase;
    align-items: center; 
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 90%;
    justify-content: space-between;
    display: flex;
}
.header .nav div a{
    transition: all linear 0.1s;
}
.header .nav div:hover a{
    color:red;
}
.nav { 
    width: 40%;
}
.nav div{
   list-style: none ;
}
.nav div a {
    text-decoration: none;
    font-size: 32px;
}
.subnav{
    list-style: none;
    display: flex;
    align-items: center;
    width: 60%;
}
.subnav li:hover a {
    color: red; 
}

.subnav ul {
    display: flex;
    
}
.subnav li a{
    white-space: nowrap;
    transition: all linear 0.1s;

}
.subnav ul .menu {
    margin-right: 18px;
}
.subnav .icon{
    display: flex;
    text-align: center;
    cursor: pointer;
   
}
.subnav .icon li{
    margin-right: 15px;
    color: #fff; 
}
.subnav .icon a i{
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #18242f;
    font-size: 18px;
    padding: 12px;
    border-radius: 50%;
    transition: all linear 0.2s;
}
.icon a i:hover {
    background-color: red;
    color: #fff;
}
.slider
{
        
}
.content{

}
.footer{

}
